<table  class="tabla" data-toggle="table"
  data-url="data1.json"
  data-pagination="true"
  data-search="true">
        <thead>
            <tr id="titulo-tabla">
                <th scope="col">
                    Foto
                </td>
                <th scope="col">
                    identificacion
                </td>
                {{!-- <th scope="col">
                    Nombre(s)
                </th>
                <th scope="col">
                    Apellido(s)
                </th>
                <th scope="col">
                    Telefono
                </th>
                <th scope="col">
                    Eps
                </th>
                <th scope="col">
                    Fecha de ingreso
                </th> --}}
            

            </tr>
        </thead>
        <tbody>
            {{#each clientes_encontrados}}
        
            <tr onclick="window.location='/clientes/{{identificacion}}';" style="cursor: pointer;">
            <td>
                <img class="rounded-circle" src="uploads/foto_clientes/{{foto_cliente}}" alt="foto_perfil" style="width: 40px; height:40px" >
                
            </td>
            <td>
                
                {{identificacion}}
                
            </td>
            {{!-- <td>
                {{nombre}}
                
            </td>
            <td>
                {{apellido}}
            </td>
            <td>
                
                {{telefono}}
            </td>
            <td>
                {{eps}}
            </td>
            <td>
                {{fecha_ingreso}}
            </td> --}}
        </tr>
        
        
        {{/each}}

        </tbody>
        
    </table>
