
    <table class="table table-responsive">
        <thead class="table-dark">
            <tr id="titulo-tabla">
                <th scope="col">
                    Identificación
                </td>
                <th scope="col">
                    Nombre(s)
                </th>
                <th scope="col">
                    Apellido(s)
                </th>
                <th scope="col">
                    Telefono
                </th>
                <th scope="col">
                    Eps
                </th>
                <th scope="col">
                    Fecha de ingreso
                </th>
            

            </tr>
        </thead>
        
        {{#each usuarios_encontrados}}
        <a href="#">
            <tr onclick="window.location='/usuarios/{{identificacion}}';" style="cursor: pointer;">
            <td>
                
                {{identificacion}}
                
            </td>
            <td>
                {{nombre}}
                
            </td>
            <td>
                {{apellido}}
            </td>
            <td>
                
                {{telefono}}
            </td>
            <td>
                {{eps}}
            </td>
            <td>
                {{fecha_ingreso}}
            </td>
        </tr>
        </a>
        
        {{/each}}

    </table>
