<div class="input-group rounded">
  <input type="search" id="search"class="form-control rounded" placeholder="Buscar" aria-label="Search"
  aria-describedby="search-addon" onkeyup="search()"/>
  <span class="input-group-text border-0" id="search-addon">
    <i class="fas fa-search"></i>
  </span>
</div>
<br>
<table  id="tabla_usuarios" class="tabla" data-toggle="table"
  data-url="data1.json"
  data-pagination="true"
  data-search="true">
        <thead class="table-dark">
            <tr id="titulo-tabla">
                <th scope="col" class="small_visible">
                    Foto
                </td>
                <th scope="col">
                    Identificación
                </td>
                <th scope="col" class="small_visible">
                    Nombre(s)
                </th>
                <th scope="col" class="small_visible">
                    Apellido(s)
                </th>
                <th scope="col">
                    Telefono
                </th>
                <th scope="col">
                    Eps
                </th>
                <th scope="col">
                    Fecha de ingreso
                </th>
            

            </tr>
        </thead>
        <tbody>
            {{#each usuarios_encontrados}}
        
            <tr onclick="window.location='/usuarios/{{identificacion}}';" style="cursor: pointer;">
            <td class="small_visible">
                <img class="rounded-circle" src="uploads/foto_perfil/{{foto_perfil}}" alt="foto_perfil" style="width: 40px; height:40px" >
            </td>
            <td>
                
                {{identificacion}}
                
            </td>
            <td class="small_visible">
                {{nombre}}
                
            </td>
            <td class="small_visible">
                {{apellido}}
            </td>
            <td>
                
                {{telefono}}
            </td>
            <td>
                {{eps}}
            </td>
            <td>
                {{fecha_ingreso}}
            </td>
        </tr>
        
        
        {{/each}}

        </tbody>
        
    </table>
