<table  class="tabla" data-toggle="table"
  data-url="data1.json"
  data-pagination="true"
  data-search="true">
        <thead class="table-dark">
            <tr id="titulo-tabla">
                <th scope="col" class="small_visible">
                    Foto
                </td>
                <th scope="col" class="small_visible">
                    Placa
                </td>
                {{!-- <th scope="col">
                    Nombre(s)
                </th>
                <th scope="col">
                    Apellido(s)
                </th>
                <th scope="col">
                    Telefono
                </th>
                <th scope="col">
                    Eps
                </th>
                <th scope="col">
                    Fecha de ingreso
                </th> --}}
            

            </tr>
        </thead>
        <tbody>
            {{#each vehiculos_encontrados}}
        
            <tr onclick="window.location='/vehiculos/{{placa}}';" style="cursor: pointer;">
            <td class="small_visible">
                <p>imagen</p>
                {{!-- <img class="rounded-circle" src="uploads/{{foto_perfil}}" alt="foto_perfil" style="width: 40px; height:40px" > --}}
            </td>
            <td class="small_visible">
                
                {{placa}}
                
            </td>
            {{!-- <td>
                {{nombre}}
                
            </td>
            <td>
                {{apellido}}
            </td>
            <td>
                
                {{telefono}}
            </td>
            <td>
                {{eps}}
            </td>
            <td>
                {{fecha_ingreso}}
            </td> --}}
        </tr>
        
        
        {{/each}}

        </tbody>
        
    </table>
