<form action="/vehiculos/add" method="POST" class="formulario-nuevo" enctype="multipart/form-data">
    <h1 class="card-header">{{result.placa}}</h1>
    <div class="card-body">
        <div class="row">
            <div class="form-group col-md-4">
            <label for="exampleInputPassword1" class="form-label">Placa</label>
            <input type="text" name="placa" class="form-control" value="{{result.placa}}">    
            </div>
            

        
        
        {{!-- Adición dinamica de archivos . Proximas actualziaciones pendiente --}}
        {{!-- <div>
            <button id="boton_agregar"class="form-control" style="background-color: #000000; color:white;">
                Añadir archivo
            </button>
        </div> --}}
        <div class="form-group col-md-4">
            <label for="exampleInputPassword1" class="form-label">Km actual</label>
            <input type="text" name="km"  class="form-control" value="{{result.km}}">    
        </div>
        <div class="form-group col-md-4">
            <label for="exampleInputPassword1" class="form-label">Marca</label>
            <input type="text" name="marca"  class="form-control" value="{{result.marca}}">    
        </div>
        <div class="form-group col-md-4">
            <label for="exampleInputPassword1" class="form-label">Linea</label>
            <input type="text" name="linea"  class="form-control" value="{{result.linea}}">    
        </div>
       
        <div class="form-group col-md-4">
            <label for="exampleInputPassword1" class="form-label">Categoria</label>
            <select name="categoria" class="form-select" aria-label="Default select example">
                <option selected>{{result.categoria}}</option>
                <option value="campero">Campero</option>
                <option value="camioneta">Camioneta</option>
                <option value="camion_sencillo">Camion sencillo</option>
                <option value="moto">moto</option>
                <option value="grua_sc_4_8">Grúa sobre camión 4x8</option>
                <option value="excavadora">Excavadora</option>
                
                
            </select>      
        </div>
        <div class="form-group col-md-4">
            <label for="exampleInputPassword1" class="form-label">Centro de costos</label>
            <input type="text" name="centro_costos"  class="form-control" value="{{result.centro_costos}}">    
        </div>
        <div class="form-group col-md-4">
            <label for="exampleInputPassword1" class="form-label">Ciudad</label>
            <input type="text" name="ciudad"  class="form-control" value="{{result.ciudad}}">    
        </div>
        {{!-- <div class="form-group col-md-4">
            <label for="exampleInputPassword1" class="form-label">Conductor actual</label>
            <select name="conducto_actual" class="form-select" aria-label="Default select example">
                <option selected>Elija una opción</option>
                <option value="emp1">Conductor no asignado</option>
                <option value="emp1">Juan Esteban Sepulveda(1234567890)</option>
                <option value="emp2">Maria Alejandra Ballester(55673513)</option>
                <option value="emp3">Francisco José Silva(545674567)</option>
                <option value="emp4">Martha Federica Galviz(78376272386)</option>
                <option value="emp5">Pablo Eduardo Cañizares(46751234423)</option>
               
                
            </select>  
        </div> --}}

        
            

        <a class="acordeon" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            <h5>SOAT</h5><span class="material-icons md-24">expand_more</span>
        </a>
        <div class="form-group col-md-4">
            
                <label for="exampleInputPassword1" class="form-label">Nombre aseguradora</label>
                <input type="text" name="soat_entidad" class="form-control" value="">    
        </div>
        <div class="form-group col-md-4">
            
                <label for="exampleInputPassword1" class="form-label">Fecha emisión</label>
                <input type="date" name="soat_fecha_emision" class="form-control" value="">    
        </div>
        <div class="form-group col-md-4">
            
                <label for="exampleInputPassword1" class="form-label">Fecha vencimiento</label>
                <input type="date" name="soat_fecha_vencimiento" class="form-control" value="">    
        </div>
        <div class="form-group col-md-4">
                
                <label for="exampleInputPassword1" class="form-label">Archivo</label>
                <a href="#">PDF</a>
                {{!-- <input type="file" name="soat" class="form-control">     --}}
        </div>
        
        <a class="acordeon" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            <h5>Gases</h5><span class="material-icons md-24">expand_more</span>
        </a>
        

        <div class="form-group col-md-4">
            
                <label for="exampleInputPassword1" class="form-label">Lugar de realización</label>
                <input type="text" name="gases_entidad" class="form-control" value="">    
        </div>
        <div class="form-group col-md-4">
            
                <label for="exampleInputPassword1" class="form-label">Fecha de realización</label>
                <input type="date" name="gases_fecha_emision" class="form-control" value="">    
        </div>
        <div class="form-group col-md-4">
            
                <label for="exampleInputPassword1" class="form-label">Fecha vencimiento</label>
                <input type="date" name="gases_fecha_vencimiento" class="form-control" value="">    
        </div>
   
        <div class="form-group col-md-4">
            
            <label for="exampleInputPassword1" class="form-label">Comprobante</label>
            <a href="#">PDF</a>
            {{!-- <input type="file" name="gases" class="form-control">     --}}
        </div>
        </div>

        <br>
        <center>
            <button type="submit"  class="btn btn-primary boton">Registrar vehiculo</button>
        </center>
    </div>
    
</form>